Q1

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

i

In [4]:
s="Kundan"

In [5]:
type(s)

str

ii

In [6]:
l=[12,14,48,2,"kundan",3+7j,36.2,'PW Skills']

In [7]:
type(l)

list

iii

In [8]:
f=15.5

In [9]:
type(f)

float

iv

In [16]:
t=12,14,48.5,[12,45,145]

In [17]:
type(t)

tuple

In [ ]:
Q2

Q2. Given are some following variables containing data:
(i) var1 = ' '
(ii) var2 = '[ DS , ML , Python]'
(iii) var3 = [ 'DS' , 'ML' , 'Python' ]
(iv) var4 = 1.
What will be the data type of the above given variable.

i

In [37]:
var1 = ' '

In [38]:
type(var1)

str

ii

In [33]:
var2 = '[ DS , ML , Python]'

In [35]:
type(var2)

str

iii

In [34]:
 var3 = [ 'DS' , 'ML' , 'Python' ]

In [36]:
type(var3)

list

iv

In [28]:
 var4 = 1.

In [29]:
type(var4)

float

In [ ]:
Q3

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

i.
ANS - 
      ( / ) Division operator , which is use to perform division operatin of numbers. Example below

In [39]:
x = 5
y = 2
result = x/y
print(result)

2.5

ii. 
ANS -
     ( % ) Modulus operator , which is use to show the remainder parts of the division. Example below

In [40]:
x =5 
y =2
rem = x%y
print(rem)

1

iii. 
ANS -
      ( // ) floor division operator , which is use to only show the quotient. Example below

In [41]:
x =5 
y = 2
FValue = x//y
print(FValue)

2

iv.
ANS -  
     ( ** ) Exponentiation operator , which is use to find the value of any power. Example below

In [42]:
x = 5
y = 2
Expo = y**x
print(Expo)

32

Q4

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [51]:
l = [12,15,'kundan','pwskills',33.6,5+6j]
for x in l:
    print(x ,type(x))

12 <class 'int'>
15 <class 'int'>
kundan <class 'str'>
pwskills <class 'str'>
33.6 <class 'float'>
(5+6j) <class 'complex'>

Q5

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [63]:
A =18
B =3

count = 0
while A % B == 0:
    A = A / B
    count += 1

if count > 0:
    print(f"Number A is divisible by number B, and it can be divided {count} times.")
else:
    print("Number A is not divisible by number B.")

Number A is divisible by number B, and it can be divided 2 times.

Q6

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [68]:
numbers = [2, 7, 12, 9, 16, 21, 27, 31, 36, 41, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115]

for num in numbers:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

2 is not divisible by 3.
7 is not divisible by 3.
12 is divisible by 3.
9 is divisible by 3.
16 is not divisible by 3.
21 is divisible by 3.
27 is divisible by 3.
31 is not divisible by 3.
36 is divisible by 3.
41 is not divisible by 3.
45 is divisible by 3.
50 is not divisible by 3.
55 is not divisible by 3.
60 is divisible by 3.
65 is not divisible by 3.
70 is not divisible by 3.
75 is divisible by 3.
80 is not divisible by 3.
85 is not divisible by 3.
90 is divisible by 3.
95 is not divisible by 3.
100 is not divisible by 3.
105 is divisible by 3.
110 is not divisible by 3.
115 is not divisible by 3.

Q7

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

mutable  : - 
            mutable that means, "which type of data type, we can access the data and modify the data that is called mutable"  Example given below

In [69]:
l= [12,15,'kundan',3.3]

In [71]:
l[0]

12

In [72]:
l[0]=5

In [73]:
l

[5, 15, 'kundan', 3.3]

Immutable : - 
              Immutable that means, "which type of data type, we can access the data but not modify the data that is called mutable"  Example given below

In [74]:
k="pwskills"

In [75]:
k[2]

's'

In [76]:
k[2]=d

NameError: name 'd' is not defined